body{
    background-color: rgba(68, 139, 177, 0.416);

}
ol{
    color: black;                                       /* màu chữ*/
    font-size: 100px;                                      /* cỡ chữ*/
    font-weight: normal; /*bold*/                         /* độ dày, mỏng của chữ*/
    font-family: 'Special Elite', cursive;                /* font chữ lấy trêm gg*/
    line-height: 1.5;                                     /* khoảng cách giữa các dòng văn bản*/
    text-align: justify; /*left center right*/            /* dùng để "canh lề theo chiều ngang" cho văn bản bên trong phần tử.*/
    text-decoration: none;/*underline line-through  */    /* đường gạch chân, gạch trên hoặc gạch xuyên qua được áp dụng cho văn bản*/
    text-transform: none;/*lowkercase uppersace*/         /* điều chỉnh văn bản sang dạng chữ in hoa hoặc chữ thường*/
    width: 600px;                                         /* hiết lập chiều rộng phần nội dung (content) của phần tử*/
    float: left;                                          /*chuyển một hình ảnh sang góc trái hoặc phải so với chữ trong không gian bao quanh nó*/              
    margin: 30px;                                         /*phần lề nằm giữa đường viền của phần tử với các phần tử xung quanh*/
    /*
    margin-top:20px;
    margin-right:20px;
    margin-bottom:20px;
    margin-left:20px;
    */
    padding: 10px;                                         /*khoảng trống nằm giữa nội dung và viền*/
  /*  border: 1px solid red;                               /*định dạng đường viền cho phần tử HTML.*/
}
p{
    color: black;                                       /* màu chữ*/
    font-size: 30px;                                      /* cỡ chữ*/
    font-weight: normal; /*bold*/                         /* độ dày, mỏng của chữ*/
    font-family: 'Special Elite', cursive;                /* font chữ lấy trên gg*/
    line-height: 1.5;                                     /* khoảng cách giữa các dòng văn bản*/
    text-align: justify; /*left justify center right*/    /* dùng để "canh lề theo chiều ngang" cho văn bản bên trong phần tử.*/
    text-decoration: none;/*underline line-through  */    /* đường gạch chân, gạch trên hoặc gạch xuyên qua được áp dụng cho văn bản*/
    text-transform: none;/*lowkercase uppersace*/         /* điều chỉnh văn bản sang dạng chữ in hoa hoặc chữ thường*/
    width: 600px;                                         /* Thiết lập chiều rộng phần nội dung (content) của phần tử*/
    float: left;                                          /*chuyển một hình ảnh sang góc trái hoặc phải so với chữ trong không gian bao quanh nó*/              
    margin: 30px;                                         /*phần lề nằm giữa đường viền của phần tử với các phần tử xung quanh*/
    /*
    margin-top:20px;
    margin-right:20px;
    margin-bottom:20px;
    margin-left:20px;
    */
    padding: 10px;                                         /*khoảng trống nằm giữa nội dung và viền*/
  /*  border: 1px solid red;                               /*định dạng đường viền cho phần tử HTML.*/
}
